{% extends 'base.html' %}
{% block content %}

<div class="card shadow">
    <div class="card-header bg-info text-white">
        <h4 class="mb-0">➕ Add Doctor</h4>
    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Doctor Name</label>
                <input type="text" name="name" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Department</label>
                <input type="text" name="department" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Phone</label>
                <input type="text" name="phone" class="form-control">
            </div>

            <button type="submit" class="btn btn-info text-white">
                Save Doctor
            </button>
            <a href="{% url 'doctor_list' %}" class="btn btn-secondary">
                Back
            </a>
        </form>
    </div>
</div>

{% endblock %}
