{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <h3>Appointment List</h3>

    <table class="table table-bordered">
        <tr>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Time</th>
        </tr>

        {% for a in appointments %}
        <tr>
            <td>{{ a.patient.name }}</td>
            <td>{{ a.doctor.name }}</td>
            <td>{{ a.date }}</td>
            <td>{{ a.time }}</td>
              <td>
                <!-- DELETE FORM -->
                <form method="POST" action="{% url 'delete_appointment' a.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm">Delete</button>
                </form>

                
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
